In [1]:
import pandas as pd
import numpy as np

In [2]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
test_dict_df = pd.DataFrame(test_dict)

In [3]:
test_dict_df

   english  id  math    name
0       89   1    90   Alice
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
4       94   5    97   Helen
5       90   6    93  Grace

### 对某行进行修改

In [25]:
test_dict_df.loc[1:1,('english','id','math','name')]=[90,2,100,'Alice_m']

In [29]:
test_dict_df.loc[0:1,('english','id','math','name')]=[[90,1,100,'Alice_m'],[70,2,100,'Bob']]
test_dict_df.loc[0:3:2,('english','id','math','name')]=[[90,1,100,'Alice_m'],[70,2,100,'Bob']]

   english  id  math     name
0       90   1   100  Alice_m
2       23   2    99    Cindy

In [33]:
test_dict_df.loc[:,('english')]=[90,80,70,90,90,59] #test_dict_df.loc[:,'english']=[90,80,70,90,90,59]

In [49]:
test_dict_df.loc[:,('english','id')]=[[90,1],[80,2],[80,2],[80,2],[80,2],[80,2]]
# list(zip([90,80,70,90,90,59],[1,2,3,4,5,6]))

In [20]:
test_dict_df.loc[1:2,('english','id')]=[[38,2],[23,2]]

In [52]:
test_dict_df.iat[1,2]=90

In [61]:
test_dict_df.iloc[:,2]=[100,90,80,100,90,39]

In [63]:
test_dict_df.columns=['english_new','id_new','math_new','name_new']