In [2]:
import pandas as pd
import numpy as np

In [25]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
test_dict_df = pd.DataFrame(test_dict)

In [12]:
test_dict_df

   english  id  math    name
0       89   1    90   Alice
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
4       94   5    97   Helen
5       90   6    93  Grace

In [28]:
# pd.__version__ =='0.18.0'
#drop columns
test_dict_df.drop(['id'],axis=1)
# test_dict_df.drop(columns=['id'])

ValueError: labels ['id'] not contained in axis

In [23]:
test_dict_df.drop(['id'],axis=1,inplace=True)
# test_dict_df = test_dict_df.drop(['id'],axis=1)

In [26]:
test_dict_df

   english  id  math    name
0       89   1    90   Alice
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
4       94   5    97   Helen
5       90   6    93  Grace

In [27]:
test_dict_df.drop([0,4])

   english  id  math    name
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
5       90   6    93  Grace