In [2]:
import pandas as pd
import numpy as np

In [25]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
test_dict_df = pd.DataFrame(test_dict)

In [12]:
test_dict_df

   english  id  math    name
0       89   1    90   Alice
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
4       94   5    97   Helen
5       90   6    93  Grace

In [29]:
# pd.__version__ =='0.18.0'
#drop columns
test_dict_df.drop(['id'],axis=1)
# test_dict_df.drop(columns=['id'])

   english  math    name
0       89    90   Alice
1       94    89     Bob
2       80    99   Cindy
3       94    78    Eric
4       94    97   Helen
5       90    93  Grace

In [23]:
test_dict_df.drop(['id'],axis=1,inplace=True)
# test_dict_df = test_dict_df.drop(['id'],axis=1)

In [33]:
test_dict_df

   english  id  math    name
0       89   1    90   Alice
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
4       94   5    97   Helen
5       90   6    93  Grace

In [80]:
cols = [x for i,x in enumerate(test_dict_df.columns) if test_dict_df.iat[5,i]==90]
test_dict_df.drop(cols,axis=1)
# cols

['english']

In [83]:
test_dict_df.remove([0,4])

AttributeError: 'DataFrame' object has no attribute 'remove'