In [2]:
import pandas as pd
import numpy as np

In [3]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
test_dict_2 = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace ']}

In [4]:
test_dict_df = pd.DataFrame(test_dict)
test_dict_df = pd.DataFrame(data=test_dict,columns=['id','name'])
# test_dict_df = pd.DataFrame(data=test_dict, dtype=np.int8)

In [5]:
test_dict_df = pd.DataFrame.from_dict(test_dict)

In [6]:
test_dict_df
new_columns = [92,94,89,77,87,91]
test_dict_df.insert(2,'physics',new_columns)#,allow_duplicates=True

In [7]:
test_dict_df
new_line = [7,'Iric',99]
# test_dict_df.loc[2]=new_line

In [8]:
test_dict_df.append(pd.DataFrame([new_line],columns=['id','name','physics']))
# pd.DataFrame([new_line],columns=['id','name','physics'])
# test_dict_df
# np.array(new_line).reshape(3,1)

   id    name  physics  math  english
0   1   Alice       92  90.0     89.0
1   2     Bob       94  89.0     94.0
2   3   Cindy       89  99.0     80.0
3   4    Eric       77  78.0     94.0
4   5   Helen       87  97.0     94.0
5   6  Grace        91  93.0     90.0
0   7    Iric       99   NaN      NaN

In [9]:
test_dict_df.loc[:,'english']=[89,94,80,94,80,94]

In [10]:
test_dict_df.loc[:,'english']=[89,99,80,94,80,94]

In [11]:
test_dict_df

   id    name  physics  math  english
0   1   Alice       92    90       89
1   2     Bob       94    89       99
2   3   Cindy       89    99       80
3   4    Eric       77    78       94
4   5   Helen       87    97       80
5   6  Grace        91    93       94