In [1]:
import pandas as pd
import numpy as np

In [2]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
test_dict_2 = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace ']}

In [3]:
test_dict_df = pd.DataFrame(test_dict)
test_dict_df = pd.DataFrame(data=test_dict,columns=['id','name'])
# test_dict_df = pd.DataFrame(data=test_dict, dtype=np.int8)

In [4]:
test_dict_df = pd.DataFrame.from_dict(test_dict)

In [5]:
test_dict_df
new_columns = [92,94,89,77,87,91]
test_dict_df.insert(2,'physics',new_columns)#,allow_duplicates=True

In [6]:
test_dict_df
new_line = [7,'Iric',99]
# test_dict_df.loc[2]=new_line

In [7]:
test_dict_df.append(pd.DataFrame([new_line],columns=['id','name','physics']))
# pd.DataFrame([new_line],columns=['id','name','physics'])
# test_dict_df
# np.array(new_line).reshape(3,1)

   english  id  math    name  physics
0     89.0   1  90.0   Alice       92
1     94.0   2  89.0     Bob       94
2     80.0   3  99.0   Cindy       89
3     94.0   4  78.0    Eric       77
4     94.0   5  97.0   Helen       87
5     90.0   6  93.0  Grace        91
0      NaN   7   NaN    Iric       99