In [2]:
import pandas as pd
import numpy as np

In [15]:
test_dict = {'id':[1,2,3,4,5,6],'name':['Alice','Bob','Cindy','Eric','Helen','Grace '],'math':[90,89,99,78,97,93],'english':[89,94,80,94,94,90]}
test_dict_df = pd.DataFrame(test_dict)

In [4]:
test_dict_df

   english  id  math    name
0       89   1    90   Alice
1       94   2    89     Bob
2       80   3    99   Cindy
3       94   4    78    Eric
4       94   5    97   Helen
5       90   6    93  Grace

In [5]:
# pd.__version__ =='0.18.0'
#drop columns
test_dict_df.drop(['id'],axis=1)
# test_dict_df.drop(columns=['id'])

   english  math    name
0       89    90   Alice
1       94    89     Bob
2       80    99   Cindy
3       94    78    Eric
4       94    97   Helen
5       90    93  Grace

In [6]:
test_dict_df.drop(['id'],axis=1,inplace=True)
# test_dict_df = test_dict_df.drop(['id'],axis=1)

In [7]:
test_dict_df

   english  math    name
0       89    90   Alice
1       94    89     Bob
2       80    99   Cindy
3       94    78    Eric
4       94    97   Helen
5       90    93  Grace

In [8]:
cols = [x for i,x in enumerate(test_dict_df.columns) if test_dict_df.iat[5,i]==90]
test_dict_df.drop(cols,axis=1)
# cols

   math    name
0    90   Alice
1    89     Bob
2    99   Cindy
3    78    Eric
4    97   Helen
5    93  Grace

In [14]:
# test_dict_df.remove([0,4]
del test_dict_df['english']

In [17]:
test_dict_df.pop('english')

0    89
1    94
2    80
3    94
4    94
5    90
Name: english, dtype: int64

In [19]:
del test_dict_df

In [20]:
test_dict_df

NameError: name 'test_dict_df' is not defined